.block-dropdown button.dropdown-toggle {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}
.block-dropdown button.dropdown-toggle:before,
.block-dropdown button.dropdown-toggle:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  height: 5px;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777777;
  -moz-box-shadow: 0 15px 10px #777777;
  box-shadow: 0 15px 10px #777777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}
.block-dropdown button.dropdown-toggle:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.label-bigger {
  font-size: 220%;
  margin-bottom: 10px;
  display: inline-block;
}
