.form {
	height: 400px;
	position: relative;
}
.form .form-group{
	margin-bottom: 10px;
}

.form .form-group .control-label {
	font-size: 75%; 
}

.form>.block-dropdown>.dropdown-toggle{
	background-color: red;
}